<c-row>
    <c-col xs="auto">
      <input aria-label="Facultad" cFormControl placeholder="Facultad" />
    </c-col>
    <c-col xs="auto">
      <input aria-label="Unidad" cFormControl placeholder="Unidad" />
    </c-col>
    <c-col>
      <button cButton color="info">
        <svg cIcon name="cilSearch"></svg>
        &nbsp; Search
      </button>
    </c-col>
  </c-row>
  <br />
  <br />
  <h4>Unidades</h4>
  <table cTable class="listaUnidades">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Sigla</th>
        <th scope="col">#Facultad</th>
      </tr>
    </thead>
    <tbody *ngFor="let each of units">
      <tr>
        <th scope="row">{{each.id_unidad}}</th>
        <td>{{each.nombre_depto}}</td>
        <td>{{each.siglas_depto | uppercase}}</td>
        <td>{{each.id_facultad}}</td>
        <td>
          <button cButton color="success" (click)="onSelect(each)" [class.selected]="each === selectedUnit">
          <svg cIcon name="cilPencil"></svg>
          </button>
          <button cButton color="danger">
          <svg cIcon name="cilTrash"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <ul class="listaUnidades">
    <li *ngFor="let unit of listedUnits">
        <button type="button" (click)="onSelect(unit)" [class.selected]="unit === selectedUnit">
            <span class="badge">{{unit.id_unidad}}</span>
            <span class="name">{{unit.nombre_depto}}</span>
        </button>
    </li>
  </ul>


  <!--Current selected user data test-->
<div *ngIf="selectedUnit"><span>ID: {{selectedUnit.id_unidad}}</span></div>
<div *ngIf="selectedUnit"><span>NAME: {{selectedUnit.nombre_depto}}</span></div>
<div *ngIf="selectedUnit"><span>ACRONYM: {{selectedUnit.siglas_depto}}</span></div> 
<div *ngIf="selectedUnit"><span>FACULTY: {{selectedUnit.id_facultad}}</span></div> 

<br><br>
Unit DB Information: {{ units | json }}
<br><br>