<!-- Unit Selector for Administrators -->

<div [visible]="visible[0]" cCollapse>
  <h4>Seleccionar una unidad o facultad.</h4>
  <c-row>
    <c-col xs="auto">
      <select [(ngModel)]="adminRequest.type"aria-label="typeRequest" cSelect>
        <option value="1">Unidad</option>
        <option value="2">Facultad</option>
      </select>
    </c-col>
    <c-col xs="auto">
      <input [(ngModel)]="adminRequest.id" type="text" aria-label="idRequest" 
        cFormControl placeholder="ID" />
    </c-col>
    <c-col xs="auto">
      <button cButton color="info" (click)="getForAdmin(adminRequest)"><svg cIcon name="cilSearch"></svg>
        &nbsp; Buscar</button>
    </c-col>
  </c-row>
</div>

<br>

 <!--List of Objects-->
<h4>{{sessionData.nombre_unidad}}</h4>
<table cTable class="Consultas">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo de Llamada</th>
      <th scope="col">Tiempo (s)</th>
      <th scope="col">Total ($)</th>
    </tr>
  </thead>
  <tbody *ngFor="let each of consultaList">
    <tr>
      <td>{{ each.fecha_calculo }}</td>
      <td>Local</td>
      <td>{{ each.cant_segundos_slm }}</td>
      <td>$ {{ each.tarificacion_slm }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Celular</td>
      <td>{{ each.cant_segundos_cel }}</td>
      <td>$ {{ each.tarificacion_cel }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Larga Distancia</td>
      <td>{{ each.cant_segundos_ldi }}</td>
      <td>$ {{ each.tarificacion_ldi }}</td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td>{{ each.cant_segundos_total }}</td>
      <td>$ {{ each.tarificacion_general }}</td>
    </tr>
  </tbody>
</table>