<!-- Unit Selector for Administrators -->

<div [visible]="visible[0]" cCollapse>
  <h4>Seleccionar una unidad o facultad.</h4>
  <c-row>
    <c-col xs="auto">
      <select [(ngModel)]="adminRequest.type"aria-label="typeRequest" cSelect>
        <option value="1">Unidad</option>
        <option value="2">Facultad</option>
      </select>
    </c-col>
    <c-col xs="auto">
      <input [(ngModel)]="adminRequest.id" type="text" aria-label="idRequest" 
        cFormControl placeholder="ID" />
    </c-col>
    <c-col xs="auto">
      <button cButton color="info" (click)="getForAdmin(adminRequest)"><svg cIcon name="cilSearch"></svg>
        &nbsp; Buscar</button>
    </c-col>
  </c-row>
</div>

<br>

 <!--List of Objects-->
<h4>{{sessionData.nombre_unidad}}</h4>
<table cTable class="Consultas">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Depto</th>
      <th scope="col">Fecha</th>
      <th scope="col">Descarga</th>
    </tr>
  </thead>
  <tbody *ngFor="let each of filterList">
    <tr>
      <td>{{ each.nombre_calculo }}</td>
      <td>{{ each.nombre_depto }}{{ each.nombre_facultad }}</td>
      <td>{{ each.fecha_calculo }}</td>
      <td><button cButton 
        color="info"
        (click)="onMarked(each)"
        [class.selected]="each === markedReport"
        [cModalToggle]="downloadModal.id"
        >
          <svg cIcon name="cilCloudDownload"></svg>
        </button></td>
    </tr>
  </tbody>
</table>

<c-modal #downloadModal backdrop="static" id="downloadModal" size="xl">
  <c-modal-header>
    <h5 cModalTitle>Descarga de Reporte</h5>
    <button [cModalToggle]="downloadModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div *ngIf="markedReport">
    <table cTable class="DatosConsulta">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo de Llamada</th>
          <th scope="col">Tiempo (s)</th>
          <th scope="col">Total ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ markedReport.fecha_calculo }}</td>
          <td>Local</td>
          <td>{{ markedReport.cant_segundos_slm }}</td>
          <td>$ {{ markedReport.tarificacion_slm }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Celular</td>
          <td>{{ markedReport.cant_segundos_cel }}</td>
          <td>$ {{ markedReport.tarificacion_cel }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Larga Distancia</td>
          <td>{{ markedReport.cant_segundos_ldi }}</td>
          <td>$ {{ markedReport.tarificacion_ldi }}</td>
        </tr>
        <tr>
          <td></td>
          <td>Total</td>
          <td>{{ markedReport.cant_segundos_total }}</td>
          <td>$ {{ markedReport.tarificacion_general }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="downloadModal.id" cButton color="secondary">
      Cancelar
    </button>
    <button [cModalToggle]="downloadModal.id" cButton color="success" (click)="downloadReport(markedReport)"><svg cIcon name="cilCloudDownload"></svg>
      &nbsp; Descargar</button>
  </c-modal-footer>
</c-modal>