<c-row>
  <c-col xs="auto">
    <input aria-label="Facultad" cFormControl placeholder="Facultad" />
  </c-col>
  <c-col xs="auto">
    <input aria-label="Unidad" cFormControl placeholder="Unidad" />
  </c-col>
  <c-col>
    <button cButton color="info">
      <svg cIcon name="cilSearch"></svg>
      &nbsp; Search
    </button>
  </c-col>
</c-row>
<br />
<br />
<h4>Usuarios</h4>
<table cTable class="listaUsuarios">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Facultad</th>
      <th scope="col">Unidad</th>
    </tr>
  </thead>
  <tbody *ngFor="let usuario of listaUsuarios">
    <tr>
      <th scope="row">{{usuario.id}}</th>
      <td>{{usuario.username}}</td>
      <td>{{usuario.facultad | uppercase}}</td>
      <td>{{usuario.unidad | uppercase}}</td>
      <td>
        <button cButton color="success" (click)="onSelect(usuario)" [class.selected]="usuario === selectedUsuario">
        <svg cIcon name="cilPencil"></svg>
        </button>
        <button cButton color="danger">
        <svg cIcon name="cilTrash"></svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ul class="listaUsuarios">
  <li *ngFor="let usuario of listaUsuarios">
      <button type="button" (click)="onSelect(usuario)" [class.selected]="usuario === selectedUsuario">
          <span class="badge">{{usuario.id}}</span>
          <span class="name">{{usuario.username}}</span>
      </button>
  </li>
</ul>

<br><br>
User Information: {{ listaUsuarios | json }}
<br><br>

<!--Current selected user data test-->
<div *ngIf="selectedUsuario"><span>ID: {{selectedUsuario.id}}</span></div>
<div *ngIf="selectedUsuario"><span>NAME: {{selectedUsuario.username}}</span></div>
<div *ngIf="selectedUsuario"><span>FACULTAD: {{selectedUsuario.facultad}}</span></div> 
<div *ngIf="selectedUsuario"><span>UNIDAD: {{selectedUsuario.unidad}}</span></div> 
